#header{
    background-color:red;
    height: 65px;
    width: 100%;
}
#logo_main{
    height:50px;
    width:50px;
    background-color: white;
    border-radius:50%;
    margin-left:80px;
    display: inline-block; 
    margin-top: 7px;
}
#headingListing {
    margin-left: 20px;
    margin-left: 9px;
    font-size: 30px;
    margin-top: 10px;
    font-family: Oswald;
}
.link-box {
    text-decoration: none;
    
}